<span class="footer" align="center">
    <p><strong>Desenvolvido por </strong>Rodney Oliveira e Thales Pomari, alunos do <img src="/images/ifspicone.png"
    alt="ícone do IFSP Campinas" class="ifspicone" /> IFSP - Câmpus Campinas</p>
</span>