<!-- views/partials/header.ejs -->
    <nav class="menu" id="menu">
        <% if (user === undefined || user === '') {%>
            <a href="/newuser"><i class="fa fa-pencil"></i> Cadastrar Usu치rio</a>
            <a href="/search"><i class="fa fa-search"></i> Pesquisar Desaparecidos</a>
            <a href="/login"><i class="fa fa-sign-in"></i> Login</a>
        <% } else { %>
            <a href="/user"><i class="fa fa-user"></i> Usu치rio</a>
            <a href="/register"><i class="fa fa-pencil"></i> Cadastrar Desaparecidos</a>
            <a href="/search"><i class="fa fa-search"></i> Pesquisar Desaparecidos</a>
            <% if(user[0].adm === 1) {%>
                <a href="/listusers" class="fa fa-list"> Listar Usu치rios</a>
                <a href="/listdesaparecidos" class="fa fa-list"> Listar Desaparecidos</a>
            <%}%>
            <a class="menu">
                Ol치, <%= user[0].username %>
            </a>
            <a href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                <i class="fa fa-sign-out" align="right"></i> Sair
                
                <form id="logout-form" action="/logout" method="POST" style="display: none;">
                    
                </form>
            </a>
        <% } %>
        <a class="icon"><i class="fa fa-bars" onclick="expandMenu()"></i></a>
    </nav>