<header class="header">
    <div class="row">
        <h1 class="col-xs-12">
            <i class="fa fa-pencil"></i>
            Cadastrar
        </h1>
    </div>
</header>
<main class="container-fluid nopadding">
    <div class="content">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="/edituser">
                    <div class="form-group">

                        <div class="col-md-6 frm-field">
                            <label>Nome Completo</label>
                            <input id="name" type="text" class="form-control" name="nome" value="<%- user[0].nome %>" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 frm-field">
                            <label>Username</label>
                            <input id="username" type="username" class="form-control" name="username" value="<%- user[0].username %>" required
                                autofocus>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-6 frm-field">
                            <label>E-Mail</label>
                            <input id="email" type="email" class="form-control" name="email" value="<%- user[0].email %>" disabled required>
                            </input>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 frm-field">
                            <label>Confirmar E-Mail</label>
                            <input id="email_confirmation" type="email" class="form-control" name="email_confirmation" value="<%- user[0].email %>" disabled required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 frm-field">
                            <label>Senha</label>
                            <input id="password" type="password" class="form-control" name="password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 frm-field">
                            <label>Confirmar a senha</label>
                            <input id="password-confirm" type="password" class="form-control" name="password_confirmation"
                                required>
                        </div>
                    </div>

                    <div class="form-group row mt-4">
                        <div class="col-md-4 submit-form offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                Confirmar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>