<%- contentFor('body') %>
<header class="header">
    <div class="row">
        <h1 class="col-xs-12">
            <i class="fa fa-exclamation-triangle"></i>
            Erro
        </h1>
    </div>
</header>
<main class="container-fluid nopadding">
    <div class="content">
        <div>
            <h3>Desculpe, essa página não existe ou você não tem permissão para acessá-la.</h3>
        </div>        
    </div>
</main>