<header class="header">
    <div class="row">
        <h1 class="col-xs-12">
            <i class="fa fa-home"></i>
            Login 
        </h1>
    </div>
</header>
<main class="container-fluid nopadding">
    <div class="content">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="/login">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="username" placeholder="Usuário" value="<%= user.username %>">
                            <!--@if ($errors->has('email'))
                                <span class="invalid-feedback" role="alert">
                                    <strong>{{ $errors->first('email') }}</strong>
                                </span>
                            @endif-->
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <input type="password" class="form-control" name="password" placeholder="Senha" value="<%= user.password %>">
                            <!--@if ($errors->has('password'))
                                <span class="invalid-feedback" role="alert">
                                    <strong>{{ $errors->first('password') }}</strong>
                                </span>
                            @endif-->
                        </div>
                    </div>

                    <!--div class="form-group row">
                        <div class="col-md-4 offset-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="remember" id="remember" {{ old('remember') ? 'checked' : '' }}>

                                <label class="form-check-label" for="remember">
                                    {{ __('Lembrar minha senha') }}
                                </label>
                            </div>
                        </div>
                    </div-->
                        
                    <div class="form-group row mb-0">
                        <div class="col-md-4 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button>
                            <!--a class="btn btn-link" href="{{ route('password.request') }}">
                                {{ __('Esqueceu sua senha?') }}
                            </a-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>