<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="app">
        <aside class="logo">
            <% include ./partials/logo %>
        </aside>

        <header class="menu-area">
            <% include ./partials/menu %>
        </header>
        
    
        <%- body %>
        
        <footer class="footer">
            <% include ./partials/footer %>
        </footer>
    </div>
</body>
</html>